<fs-list [config]="listConfig">
  <fs-list-column name="name" title="Name" [sortable]="true">
    <ng-template fs-list-cell let-row="row">
      @if (row.state !== 'deleted') {
        <a (click)="openEditor(row)">
          <ng-container [ngTemplateOutlet]="name"></ng-container>
        </a>
      } @else {
        {{row.name}}
      }

      <ng-template #name>{{row.name}}</ng-template>
    </ng-template>
  </fs-list-column>
  <fs-list-column name="modify_date" title="Modified" [sortable]="true">
    <ng-template fs-list-cell let-row="row">
      {{row.modifyDate | fsDate: 'date-time-yearless'}}
    </ng-template>
  </fs-list-column>
</fs-list>
