<fs-list [config]="listConfig">
  <fs-list-column name="name" title="Name" [sortable]="true">
    <ng-template fs-list-cell let-row="row">
      <a *ngIf="row.state !== 'deleted'; else name" (click)="openEditor(row)">
        <ng-container [ngTemplateOutlet]="name"></ng-container>
      </a>

      <ng-template #name>{{row.name}}</ng-template>
    </ng-template>
  </fs-list-column>
  <fs-list-column name="modify_date" title="Modified" [sortable]="true">
    <ng-template fs-list-cell let-row="row">
      {{row.modifyDate | fsDate: 'date-time-yearless'}}
    </ng-template>
  </fs-list-column>
</fs-list>
