<fs-examples [config]="config">
  <fs-example name="Content Pages" componentName="app-content-pages">
    <app-content-pages></app-content-pages>
  </fs-example>  
  
  <fs-example name="Content Layouts" componentName="app-content-layouts">
    <app-content-layouts></app-content-layouts>
  </fs-example>
  
  <fs-example name="Content Style" componentName="app-content-style">
    <app-content-style></app-content-style>
  </fs-example>
  
  <fs-example name="Content" componentName="app-content">
    <app-content></app-content>
  </fs-example>
</fs-examples>
