<fs-list [config]="listConfig">
  <fs-list-column name="design" width="1%">
    <ng-template fs-list-cell let-row="row">
      <a (click)="openEditor(row)"><mat-icon>design_services</mat-icon></a>
    </ng-template>
  </fs-list-column>
  <fs-list-column name="name" title="Name" [sortable]="true">
    <ng-template fs-list-cell let-row="row">
      <a (click)="openPage(row)">{{row.name}}</a>
    </ng-template>
  </fs-list-column>
  <fs-list-column name="path" title="Path" [sortable]="true">
    <ng-template fs-list-cell let-row="row">
      <a [href]="'/' + row.path" target="_black">/{{row.path}}</a>
    </ng-template>
  </fs-list-column>
  <fs-list-column name="type" title="Type" [sortable]="true">
    <ng-template fs-list-cell let-row="row">
      {{pageTypes[row.type]}}
    </ng-template>
  </fs-list-column>
  <fs-list-column name="modify_date" title="Modified" [sortable]="true">
    <ng-template fs-list-cell let-row="row">
      {{row.modifyDate | fsDate: 'date-time-yearless'}}
    </ng-template>
  </fs-list-column>
</fs-list>
