<fs-list [config]="listConfig">
  <fs-list-column name="name" title="Name" [sortable]="true">
    <ng-template fs-list-cell let-row="row">
      <a *ngIf="row.state !== 'deleted'; else name" (click)="openEditor(row)">
        <ng-container [ngTemplateOutlet]="name"></ng-container>
      </a>
      <ng-template #name>{{row.name}}</ng-template>
    </ng-template>
  </fs-list-column>
  <fs-list-column name="path" title="Path" [sortable]="true">
    <ng-template fs-list-cell let-row="row">
      <a *ngIf="row.state !== 'deleted'; else path"  [href]="'/' + row.path" target="_black">
        <ng-container [ngTemplateOutlet]="path"></ng-container>
      </a>
      <ng-template #path>/{{row.path}}</ng-template>
    </ng-template>
  </fs-list-column>
  <fs-list-column name="layout" title="Layout">
    <ng-template fs-list-cell let-row="row">
      {{row.contentLayout?.name}}
    </ng-template>
  </fs-list-column>
  <fs-list-column name="type" title="Type" [sortable]="true">
    <ng-template fs-list-cell let-row="row">
      {{pageTypes[row.type]}}
    </ng-template>
  </fs-list-column>
  <fs-list-column name="modify_date" title="Modified" [sortable]="true">
    <ng-template fs-list-cell let-row="row">
      {{row.modifyDate | fsDate: 'date-time-yearless'}}
    </ng-template>
  </fs-list-column>
</fs-list>
