<form fsForm [submit]="save">
  <fs-dialog>
    <h1 mat-dialog-title>
      <div class="title-container">
        <div class="title">
          Page
          <div class="small">{{contentPage.name}}</div>   
        </div>
        <a
            (click)="openSettings()"
            mat-icon-button>
          <mat-icon>settings</mat-icon>
        </a>   
      </div>
    </h1>
    <div mat-dialog-content>
      <div class="container">
        <div class="editors" [ngClass]="{ resizing: resizing, 'separator-enabled': editors.styles && editors.content }">
          <div #contentContainer class="editor editor-content" [ngClass]="{ 'content-enabled': editors.content }">
            <fs-label>Content</fs-label>
            <div class="editor-container">
              <fs-text-editor 
                #contentEditor
                [(ngModel)]="contentPage.content" 
                name="content"
                [config]="{ tabSize: 2, language: 'html' }">
              </fs-text-editor>              
            </div>
          </div>
          <div  
            #separator
            class="separator">
          </div>
          <div 
              #styleContainer 
              class="editor editor-styles" 
              [ngClass]="{ 'styles-enabled': editors.styles }"
              [style.width]="'600px'">
            <fs-label>Styles</fs-label>
            <div class="editor-container">
              <fs-text-editor 
                #styleEditor
                [(ngModel)]="contentPage.styles" 
                name="styles"
                [config]="{  tabSize: 2, language: 'scss' }">
              </fs-text-editor>    
            </div>
          </div>    
        </div>
      </div>
    </div>

    <div mat-dialog-actions>
      <fs-form-dialog-actions>
      </fs-form-dialog-actions>
      <div class="toggles">
        <mat-button-toggle-group multiple>
          <mat-button-toggle value="content" [checked]="editors.content" (change)="editorToggleChange($event)">Content</mat-button-toggle>
          <mat-button-toggle value="styles" [checked]="editors.styles" (change)="editorToggleChange($event)">Styles</mat-button-toggle>
        </mat-button-toggle-group>      
      </div>
    </div>
  </fs-dialog>
</form>

