<as-split [unit]="'percent'" [gutterSize]="25">
  <as-split-area [size]="70" [visible]="showHtml()" [order]="1">
    <div class="editor-container">
      <app-editor-label
          [changed]="changedTypes().includes(EditorType.Html)"
          [focused]="focusedArea() === EditorType.Html">
        HTML
      </app-editor-label>
      <fs-text-editor
        [(ngModel)]="html"
        name="html"
        [config]="htmlConfig">
      </fs-text-editor>
    </div>
  </as-split-area>
  <as-split-area [size]="30" [visible]="showScss()" [order]="2">
    <div class="editor-container">
      <app-editor-label
          [changed]="changedTypes().includes(EditorType.Scss)"
          [focused]="focusedArea() === EditorType.Scss">
        SCSS
      </app-editor-label>
      <fs-text-editor
        [(ngModel)]="scss"
        name="scss"
        [config]="scssConfig">
      </fs-text-editor>
    </div>
  </as-split-area>
  <as-split-area [size]="30"  [visible]="showJs()" [order]="3">
    <div class="editor-container">
      <app-editor-label
          [changed]="changedTypes().includes(EditorType.Js)"
          [focused]="focusedArea() === EditorType.Js">
        JS
      </app-editor-label>
      <fs-text-editor
        [(ngModel)]="js"
        name="js"
        [config]="jsConfig">
      </fs-text-editor>
    </div>
  </as-split-area>
  <as-split-area [size]="30" [visible]="showGlobalScss()" [order]="4">
    <div class="editor-container">
      <app-editor-label
          [changed]="changedTypes().includes(EditorType.GlobalScss)"
          [focused]="focusedArea() === EditorType.GlobalScss">
        Global SCSS
      </app-editor-label>
      <ng-container *fsSkeleton="contentStyle()">
        <fs-text-editor
          [(ngModel)]="globalScss"
          name="globalScss"
          [config]="globalScssConfig">
        </fs-text-editor>
      </ng-container>
    </div>
  </as-split-area>
</as-split>
