:host ::ng-deep {
  .as-split-gutter {
    background-color: unset !important;
  }
}

.editor-container {
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  fs-text-editor {
    flex: 1;
  }
}