::ng-deep {
  .fs-content-editor-overlay-pane {
    .mat-dialog-container {
      border-radius: 0;
    }   
  }   
}

form {
  height: 100%;
}

fs-dialog {
  display: flex;
  height: 100%;
  flex-direction: column;  

  ::ng-deep {
    .mat-dialog-content {
      max-height: none;
      flex: 1;
      overflow: hidden;
    }

    .mat-button-toggle-label-content {
      line-height: 36px;
    }
  }
}

h1 {
  .toggles {
    display: flex;
    justify-content: flex-end;
    justify-self: baseline;
    font-size: 13px;
  }
  
  .actions {
    margin-left: 30px;

    button {
      margin-left: 5px;
    }
  }
}

// .mat-dialog-actions {
//   fs-form-dialog-actions {
//     width: auto;
//   }
// }

.title-container {
  display: flex;
  align-items: center;

  .title {
    flex: 1;

    .small {
      line-height: normal;
    }
  }
}
