<form fsForm [submit]="submitted" [dirtySubmitButton]="false" [confirm]="false">
  <fs-dialog *fsSkeletonForm="contentPage">
    <h1 mat-dialog-title>
      <div class="title-container">
        <div class="title">
          Page Editor
          <div class="small">{{contentPage.name}}</div>
        </div>

        <div class="toggles">
          <app-editor-toggles
            [editors]="editors"
            [showJs]="true"
            (toggleChange)="editorToggleChange($event)">
          </app-editor-toggles>
        </div>

        <app-editor-actions
          [saveDisabled]="!editor?.hasChanges || submitting"
          [isMac]="isMac"
          [previewPath]="contentPage.path"
          (settings)="openSettings()"
          (save)="save()"
          (preview)="openPreview()"
          (done)="close()">
        </app-editor-actions>
      </div>
    </h1>
    <div mat-dialog-content>
      <app-editor
        [contentConfig]="config"
        [showHtml]="editors.html"
        [showJs]="editors.js"
        [showScss]="editors.scss"
        [showGlobalScss]="editors.globalScss"
        [html]="contentPage.content"
        [scss]="contentPage.styles"
        [js]="contentPage.js"
        (focused)="editorFocused($event)">
      </app-editor>
    </div>
  </fs-dialog>
</form>
